* {
    margin: 0;
    padding: 0;
}


/* body{
    background-color: #F5F5F5;
    padding: 40px;
    #d6f6ff
    #bff0e5
    #f9def5
} */

.header-main {
    background-color: #676099;
    padding: 50px;
}

.chat-image {
    justify-content: center;
    margin-bottom: 10px;
}

.chat-image img {
    width: 40px;
    color: #d6f6ff;
}

.form-switch .form-check-input:checked {
    background-color: #fea400;
}

.form-switch .form-check-input:focus {
    box-shadow: none;
}

.chat-image h1 {
    color: white;
    margin-left: 3px;
    margin-top: 7px;
    font-size: 17px;
    font-weight: 600;
    font-family: cursive;
}

.chat-logo {
    /* background-color: #f5f9fc; */
    background-color: #d6f6ff;
    width: 200px;
    height: 186px;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 17px;
    margin: auto;
}

.chat-logo img {
    width: 50px;
    clip-path: circle();
    margin-left: 70px;
}

.chat-logo p {
    margin-left: 50px;
    color: #132639;
    font-weight: 600;
}

.chat-logo i {
    margin-top: 5px;
    margin-left: 4px;
    color: #132639;
}

.below-text small {
    margin-left: 53px;
    font-size: 10px;
    color: grey;
}

.blue label {
    font-size: 12px;
    margin-top: 1px;
    margin-left: 22px;
}

.blue {
    margin-left: 55px;
}

.drop-chat {
    background-color: white;
    color: black;
    width: 65%;
    margin-top: 24px;
    border: none;
}

.drop-pic1 span img {
    width: 50px;
    clip-path: circle();
    margin-left: -2px;
}

.drop-pic1 p {
    line-height: 3;
    font-weight: 500;
    color: #99a6b2;
    margin-left: 13px;
}

.menu-chat {
    width: 65%;
    border-radius: 12px;
}

.drop-pic1 p:hover {
    color: black;
}

.drop-pic1 .message-count {
    text-align: center;
    font-size: 12px;
    background-color: #3f8755;
    border-radius: 50%;
    padding: 1px 3px;
    height: 22px;
    width: 22px;
    color: #FFFFFF;
}

.chat-low {
    margin-top: 25px;
    border: none;
    list-style-type: none;
}

.chat-low2 {
    border: none;
    list-style-type: none;
}

.accordion-item:first-of-type .accordion-button {
    color: #676099;
    background-color: white;
    border-color: white;
}

.accordion-button:focus {
    border-color: white;
}

.user-info strong {
    color: #676099;
}

.space-a {
    background-color: #f2f6fc;
    border-radius: 10px;
}

.chat-padd {
    padding: 0 15px 20px;
}

.nav-space {
    background-color: #c6c1e7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.dropdown-item:active {
    background-color: white;
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
}

.dropdown-toggle::after {
    border: none!important;
}

.dropdown-menu {
    position: absolute!important;
    left: auto!important;
    right: -6px!important;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-2 {
    margin-left: auto;
    align-items: flex-end;
}

.chat-2 img {
    width: 43px;
    clip-path: circle();
    margin-left: 5PX;
    padding-top: 23px;
}

.chat-2 p {
    /* background-color: #19233b; */
    background-color: white;
    color: black;
    border-radius: 7px;
    padding: 11px 10px;
    font-size: 11px;
}

.style-chat {
    bottom: 15px!important;
    left: 41px!important;
}

.chat-2 small {
    color: #c5c8d2;
    margin-left: 45px;
    font-size: 11px;
    margin-left: 42px;
}

.chat-sec2 p {
    background-color: white;
    border-radius: 7px;
    padding: 12px 8px;
    font-size: 11px;
}

.sec-2 img {
    width: 43px;
    clip-path: circle();
    margin-left: 6px;
    padding-top: 23px;
    margin-top: -28px
}

.chat-sec2 small {
    color: #c5c8d2;
    font-size: 11px;
    margin-left: 4px;
}

.chat-format {
    margin-left: 6px;
}

.style-chat90 {
    bottom: 13px!important;
    left: 19px!important;
}

.self-paid {
    font-weight: 700;
    background-color: white;
    color: #676099;
}

.self-paid span {
    clip-path: circle;
    margin: auto;
    background-color: #ededf0;
    border-radius: 10px;
    padding: 2px 10px;
}

.chat-app-form {
    background: #fbd693;
    padding: 22px 20px 30px 15px;
    border-radius: 8px;
}

.fa-face-smile {
    color: #fea400;
}

.send-btn i {
    position: absolute;
    top: 10px;
    right: 10px;
}

.send-btn .btn {
    padding-right: 36px;
    background-color: #d6f6ff;
    color: black;
    border-color: #676099;
    border-radius: 8px;
}

.send-btn .btn:hover {
    background-color: white;
}

.chat-app-input .fa-face-smile {
    position: absolute;
    right: 112px;
    color: #e3bd67;
}

.third-lay {
    /* background-color: #f5f7fb; */
    background-color: #fbd693;
    width: 244px;
    height: 220px;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 17px;
    margin: auto;
}

.layout {
    position: relative;
    clip-path: circle();
    /* background-color: #b0caff; */
    background-color: white;
    width: 46px;
    height: 46px;
    padding: 40px;
    margin: auto;
    margin-top: 10px;
}

.layout h2 {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    top: 24px;
    left: 24px;
}

.lay-1 {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;
}

.lay-2 {
    margin-top: -15px;
    margin-left: 10px;
    font-size: 14px;
}

.lay-text {
    color: grey;
    margin-left: 9px;
    font-weight: 500;
}

.archived-btn {
    text-align: center;
}

.archived-btn i {
    position: absolute;
    top: 11px;
    right: 70px;
    color: black;
}

.archived-btn .btn:hover {
    background-color: white;
}

.archived-btn .btn {
    padding-right: 30px;
    background-color: #d6f6ff;
    border-color: #676099;
    border-radius: 8px;
    color: black;
}

.final-lay {
    background-color: #f9fbfc;
    width: 244px;
    height: 380px;
    border-radius: 10px;
    padding-top: 10px;
    margin: auto;
    margin-top: 25px;
}

.final {
    background-color: lightgray;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: grey;
    margin-left: 13px;
}


/* 
.final-1 {
    left: 79%;
    font-size: 11px;
    color:#8c9bb4;
} */

.final-icon {
    /* background-color: #b0c7fd; */
    background-color: darkgray;
    border-radius: 30px;
    height: 40px;
    width: 39px;
}

.final-icon i {
    font-size: 27px;
    margin-left: 6px;
    margin-top: 6px;
}

.final-text p {
    margin-left: 5px;
    font-weight: 700;
}

.gap-lo {
    margin-left: 16px;
}

.last-imp {
    background-color: #e3f6f4;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: #35ab9b;
    margin-left: 13px;
}

.last-icon {
    background-color: #c7f1ec;
    border-radius: 30px;
    height: 40px;
    width: 37px;
}

.last-icon i {
    font-size: 25px;
    margin-left: 6px;
    margin-top: 6px;
}

.last-text {
    margin-left: 5px;
    font-weight: 700;
}

.stage-00 {
    padding-top: 12px;
}

.stage-1 {
    background-color: #f7f3ff;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: #8f83bc;
    margin-left: 13px;
}

.stage-icon {
    background-color: #dbd2ff;
    border-radius: 30px;
    height: 40px;
    width: 37px;
}

.stage-icon i {
    font-size: 24px;
    margin-left: 8px;
    margin-top: 6px;
}

.stage-text p {
    margin-left: 5px;
    font-weight: 700;
}

.stage-imp {
    background-color: #fff1e8;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: #db7256;
    margin-left: 13px;
}

.stage-icon3 {
    background-color: #fee2d7;
    border-radius: 30px;
    height: 40px;
    width: 37px;
}

.stage-icon3 i {
    font-size: 25px;
    margin-left: 6px;
    margin-top: 6px;
}

.stage-text2 p {
    margin-left: 5px;
    font-weight: 700;
}

.footer-78 {
    justify-content: space-evenly;
}

.low-hadingtext {
    padding-top: 35px;
    justify-content: space-around;
}

.low-hadingtext h3 {
    font-size: 20px;
    font-weight: 700;
}

.low-hadingtext p {
    font-size: 11px;
    color: #bfc6d0;
    margin-top: 4px;
}

.low-hadding56 {
    /* background-color: #c6d7fd; */
    background-color: #fbd693;
    width: 10px;
    height: 70px;
    border-radius: 8px;
}

.low-hadding57 {
    /* background-color: #014cfb; */
    background-color: #fea400;
    width: 10px;
    height: 120px;
    border-radius: 8px;
}

.low-hadding58 {
    background-color: #fbd693;
    width: 10px;
    height: 50px;
    border-radius: 8px;
}

.low-hadding59 {
    background-color: #fbd693;
    width: 10px;
    height: 30px;
    border-radius: 8px;
}

.low-hadding60 {
    background-color: #fbd693;
    width: 10px;
    height: 20px;
    border-radius: 8px;
}

.low-hadding61 {
    background-color: #fbd693;
    width: 10px;
    height: 35px;
    border-radius: 8px;
}

.bottom-su {
    background-color: #f7f3ff;
    width: 244px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
}

.bottom-text {
    padding-top: 48px;
}

.bottom-text h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.bottom-text1 {
    text-align: center;
}

.bottom-text1 p {
    font-size: 14px;
    color: #7a8996;
    font-weight: 400;
}

.bottom-btn {
    margin-left: 42px;
}

.larger-but {
    border-radius: 10px;
    width: 167px;
    background-color: #d6f6ff;
    color: black;
    border-color: #676099;
}

.btn-primary:hover {
    background-color: white;
    color: black;
}

.fa-bars {
    display: none;
}

@media (max-width: 992px) {
    .left-user {
        display: none;
    }
    .fa-bars {
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .left-user.show {
        display: block;
        transform: translate(10px, 10px);
    }
    .left-user {
        position: absolute;
        left: auto;
        transform: translate(-800px, 10px);
        z-index: 1;
        max-width: 300px;
    }
}

.tick-size {
    font-size: 10px;
}

.drop-doting {
    bottom: 53px!important;
    left: 56px!important;
}

.drop-dot {
    font-size: 8px;
}

.drop-dot i {
    position: absolute;
    left: -16px;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #f6f6f6;
    border: 2px solid #387ec4;
    border-radius: 2.25rem;
    max-width: 100%;
    height: auto;
}

input[type="file"] {
    display: none;
}

.msg-img img {
    width: 270px;
    height: 250px;
    padding: 0;
    clip-path: none;
    border-radius: 10px;
    border: 4px solid #676099;
}