*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #F5F5F5;
    padding: 40px;
}

.header-main {
    background-color: white;
    padding: 50px;

}

.chat-image img {
    width: 40px;
}

.chat-image h1 {
    color: #0d1e30;
    margin-left: 3px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 600;
}

.chat-logo {
    background-color: #f5f9fc;
    width: 200px;
    height: 186px;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 17px;
}

.chat-logo img {
    width: 50px;
    clip-path: circle();
    margin-left: 70px;
}

.chat-logo p {
    margin-left: 50px;
   color: #132639;
   font-weight: 600;
}

.chat-logo i {
    margin-top: 5px;
    margin-left: 4px;
    color: #132639;
}

.below-text small {
    margin-left: 53px;
    font-size: 10px;
    color: grey;
}

.form-switch .form-check-input:checked {
    font-size: 10px;
}

.blue label {
    font-size: 11px;
}

.blue {
    margin-left: 55px;
}


.drop-chat {
    background-color: white;
    color:black;
    width: 65%;
    margin-top: 24px;
    border: none;
}

.drop-pic1 img {
    width: 50px;
    clip-path: circle();
    margin-left: -2px;
}

.drop-pic1 p {
    margin-top: 28px;
    font-weight: 500;
    color: #99a6b2;
}

.menu-chat {
    width: 65%;
    border-radius: 12px;
}

.drop-pic1 p:hover {
    color: black;
}

.chat-low {
    margin-top: 25px;
    border: none;
    list-style-type: none;
}

.chat-low2 {
    border: none;
    list-style-type: none;
}

.accordion-item:first-of-type .accordion-button {
    color: black;
    background-color: white;
    border-color: white;
}

.space-a {
    background-color:#f2f6fc ;
    padding: 20px 15px;
    border-radius: 10px;
}

.chat-2 {
    margin-left: auto;
    align-items: flex-end;
}

.chat-2 img {
    width: 50px;
    clip-path: circle();
    margin-left: 5PX;
    padding-top: 23px;
}

.chat-2 p {
    background-color: #19233b;
    color: white;
    border-radius: 7px;
    padding: 11px 10px;
    font-size: 11px;
}

.style-chat {
    bottom: 15px!important;
    left: 41px!important;
}

.chat-2 small {
    color: #c5c8d2;
    margin-left: 45px;
    font-size: 11px;
    margin-left: 42px;
}
.chat-2 p {
    color: #999eb0;
}

.chat-sec2 p {
    background-color: white;
    color:  #868893;
    border-radius: 7px;
    padding: 12px 8px;
    font-size: 11px;
}

.sec-2 img {
    width: 50px;
    clip-path: circle();
    margin-left: 6px;
    padding-top: 23px;
    margin-top: -28px
}

.chat-sec2 small {
    color: #c5c8d2;
   font-size: 11px;
   margin-left: 4px;
}

.style-chat2 {
    bottom: 54%!important;
    left: 131px!important;
}

.chat-3 {
    margin-left: auto;
    align-items: flex-end;
    margin-top: -20px
}

.chat-3 img {
    width: 50px;
    clip-path: circle();
    margin-left: 5PX;
    padding-top: 23px;
}

.chat-3 p {
    background-color: #19233b;
    color: #999eb0;
    border-radius: 7px;
    padding: 12px 8px;
    font-size: 11px;
}

.chat-3 small {
    color: #c5c8d2;
    margin-left: 74%;
   font-size: 11px;
}

.style-chat3 {
    bottom: 339px!important;
    left: 33%!important;
}

.style-chat4 {
    bottom: 62%!important;
    left: 35%!important;
}

.style-chat5 {
    bottom: 29%!important;
    left: 67%!important;
}

.self-paid {
    font-weight: 700;
}

.footer {
    background-color: white;
    height: 62px;
    margin-top: 15px;
    border-radius: 8px;
}

.form-control {
    width: 400px;
    color: #f2f2f2;
}

.icon-1 {
    margin-top: 20px;
    margin-left: 10px;
    color: #bfc4ce;
}

.footer-2 {
    margin-top: 13px;
    margin-left: 10px;
}

.footer-3 i {
    top: 11px;
    left: 93%;
    color: #e3bd67;
}

.footer-btn {
    margin-top: 11px;
    margin-left: 4px;
}

.footer-btn i {
    top: 14px;
    left: 67px;
    color: white;
    font-size: 11px;
}

.style-footer {
    width: 76px;
    font-size: 11px;
    margin-top: 3px;
    margin-left: 13px;
    height: 35px;
}

.third-lay {
    background-color: #f5f7fb;
    width: 244px;
    height: 220px;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 17px;
    margin: auto;
}

.layout {
    clip-path: circle();
    background-color: #b0caff;
    width: 42%;
    height: 46px;
    padding: 40px;
    margin: auto;
    margin-top: 10px;
}

.layout h2 {
    font-size: 25px;
    margin-left: -6px;
    margin-top: -16px;
    font-weight: 600;
}

.lay-1 {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;
}

.lay-2 {
    margin-top: -15px;
    margin-left: 10px;
    font-size: 14px;
}

.lay-text {
    color:gray;
    margin-left: 9px;
    font-weight: 500;
}

.last-one {
    background-color: white;
    width: 44%;
    height: 38px;
    border: 2px solid #587ed0;
    border-radius: 8px;
    margin: auto;
}

.last-1 p {
    padding: 4px;
    font-size: 15px;
    font-weight: 500;
    color: #587ed0;
    margin-left: 10px;
}

.lay-icon i {
    color:#587ed0;
    top: 8px;
    left: 68px;
}

.final-lay {
    background-color:#f9fbfc;
    width: 244px;
    height: 380px;
    border-radius: 10px;
    padding-top: 10px;
    margin: auto;
    margin-top: 25px;
    margin-left: 12px;
}

.final {
    background-color: #d9e3fb;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: #1242c1;
    margin-left: 13px;
}
/* 
.final-1 {
    left: 79%;
    font-size: 11px;
    color:#8c9bb4;
} */

.final-icon {
    background-color: #b0c7fd;
    border-radius: 30px;
    height: 40px;
    width: 39px;
}

.final-icon i {
    font-size: 27px;
    margin-left: 6px;
    margin-top: 6px;
}

.final-text p {
    margin-left: 5px;
    font-weight: 700;
}


.gap-lo {
    margin-left: 16px;
}

.last-imp {
    background-color: #e3f6f4;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: #35ab9b;
    margin-left: 13px;
}

/* .last-2 {
    right: 135px;
    font-size: 11px;
    color:#8c9bb4;
} */

.last-icon {
    background-color: #c7f1ec;
    border-radius: 30px;
    height: 40px;
    width: 37px;
}

.last-icon i {
    font-size: 25px;
    margin-left: 6px;
    margin-top: 6px;
}

.last-text {
    margin-left: 5px;
    font-weight: 700;
}

.stage-00 {
    padding-top: 12px;
}

.stage-1 {
    background-color: #f7f3ff;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: #8f83bc;
    margin-left: 13px;
}

.stage-icon {
    background-color: #dbd2ff;
    border-radius: 30px;
    height: 40px;
    width: 37px;
}

.stage-icon i {
    font-size: 24px;
    margin-left: 8px;
    margin-top: 6px;
}
.stage-text p {
    margin-left: 5px;
    font-weight: 700;
}

.stage-imp {
    background-color: #fff1e8;
    width: 95px;
    border-radius: 10px;
    height: 60px;
    justify-content: center;
    padding: 12px;
    color: #db7256;
    margin-left: 13px;
}
.stage-icon3 {
    background-color: #fee2d7;
    border-radius: 30px;
    height: 40px;
    width: 37px;
}
.stage-icon3 i {
    font-size: 25px;
    margin-left: 6px;
    margin-top: 6px;
}
.stage-text2 p {
    margin-left: 5px;
    font-weight: 700;
}
.footer-78 {
    justify-content:space-evenly ;
}

.low-hadingtext  {
    padding-top: 35px;
    justify-content: space-around;
}
.low-hadingtext h3 {
    font-size: 20px;
    font-weight: 700;
}

.low-hadingtext p {
    font-size: 11px;
    color: #bfc6d0;
    margin-top: 4px;
}
.low-hadding56 {
    background-color: #c6d7fd;
    width: 10px;
    height: 70px;
    border-radius: 8px;
}
.low-hadding57 {
    background-color: #014cfb;
    width: 10px;
    height: 120px;
    border-radius: 8px;
}

.low-hadding58 {
    background-color: #c6d7fd;
    width: 10px;
    height: 50px;
    border-radius: 8px;
}
.low-hadding59 {
    background-color: #c6d7fd;
    width: 10px;
    height: 30px;
    border-radius: 8px;
}

.low-hadding60 {
    background-color: #c6d7fd;
    width: 10px;
    height: 20px;
    border-radius: 8px;
}
.low-hadding61 {
    background-color: #c6d7fd;
    width: 10px;
    height: 35px;
    border-radius: 8px;
}
.bottom-su {
     background-color: #f5f7fb;
     width: 244px;
     height: 200px;
     border-radius: 10px;
     margin-left: 12px;
     margin-top: 40px;
}
.bottom-text {
    padding-top: 48px;
}
.bottom-text h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.bottom-text1  {
    text-align: center;
}

.bottom-text1 p {
    font-size: 14px;
    color: #7a8996;
    font-weight: 400;
}

.bottom-btn {
    margin-left: 42px;

}
.larger-but {
    border-radius: 10px;
    width: 167px;
}